/* Tamaño Iconos Barra Navegación */
.navbar-nav .nav-link .icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

/* Colores Header */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2913B0;
    color: #fff;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Contenedor Menú Navegación */
.navbar-nav-container {
    width: 100%;
    border-top: 2px solid white;
    padding-top: 10px;
}

/* Menú Navegación */
.navbar-nav {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

/* Opciones Menú */
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
}

.navbar-nav .nav-link:hover {
    background-color: white;
    color: #2913B0;
    text-decoration: none;
}

/* Iconos Menú */
.navbar-nav .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* Estilo Logo y Título */
.navbar-brand {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #d0d4ff;
}

/* Botón Iniciar Sesión */
.btn-custom-white {
    background-color: white;
    color: #2913B0;
    border: 1px solid #2913B0;
    transition: all 0.3s ease;
    font-weight: 500;
}

.btn-custom-white:hover {
    background-color: #2913B0;
    color: white;
}

/* Responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar-nav .nav-link {
        margin: 5px 0;
    }
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* Sombra Botones */
.btn-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Sombra Cards */
.card-custom-shadow {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.modal .btn-custom-login {
    background-color: #2913B0 !important;
    color: #FFFFFF !important;
    border: none;
}

.modal .btn-custom-login:hover {
    background-color: #1E0F8C !important;
    color: #FFFFFF !important;
}