/* Estilos Encabezado */
header {
    background-color: #0d6efd;
    text-align: center;
    padding: 20px;
}

/* Título */
.titulo {
    color: #ffffff;
    font-weight: bold;
}

/* Barra Navegación */
.nav-link {
    color: #343a40;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: color 0.3s ease-in-out;
}

/* Enlaces Activos */
.nav-link.active {
    color: #2857a7;
}

/* Pasar ratón sobre los Enlaces */
.nav-link:hover {
    color: #8192c7;
}

/* Tamaño Imágenes */
.image-container img {
    margin: 8px;
    max-width: 100px;
    height: auto;
}
